@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App{
    background-color: rgb(25, 27, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;

 
}